*.asv
*.zip
lab_4/getA3Player\ vs\ Matlab\ Player/*
lab_4/getA4Player\ vs\ Matlab\ Player/*
lab_4/getA5Player\ vs\ Matlab\ Player/*
lab_4/Matlab\ Player\ vs\ getA3Player/*
lab_4/Matlab\ Player\ vs\ getA4Player/*
lab_4/Matlab\ Player\ vs\ getA5Player/*
lab_4/getA3Player.exe
lab_4/getA4Player.exe
lab_4/getA5Player.exe
lab_4/Mancala.exe


